/ws/*
/target/*
/bin/*
/*/target/*
/*/bin/*
/*/.*
.*
/*.bat
!.travis.yml
*.iml

/ws/*
/target/*
/bin/*
/*/target/*
/*/bin/*
/*/.*
.*
/*.bat
!.travis.yml
*.iml
.idea
service/.idea
service/out
service/target
service/.gitignore
service/.project
service/.classpath
/service/.idea
