.page-title {
    background: dodgerblue; color:white; text-align: center
}

.middle-font {
    font-size: 30px
}

.row {
    height: 80px
}

.middle-line {
    height: 80px;
    padding: 20px 0px 0px 0px
}

.line-separator {
    border-bottom: lightgrey 1px solid;
    padding: 20px 0px 0px 0px;
}

.no-border {
    border:none
}

.yellow {
    color: goldenrod;
}

.datepicker {
    font-size: 30px;
}