<!DOCTYPE html>
<html ng-app="Hotel" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>酒店处理环节</title>
    <!--link rel="stylesheet" href="css/app.css"-->
    <link rel="stylesheet" href="lib/bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/slider/css/slider.css">
    <link rel="stylesheet" href="common.css">
    <script src="lib/angular.js"></script>
    <script src="lib/jquery-1.11.0.js"></script>
    <script src="lib/slider/js/bootstrap-slider.js"></script>
    <script src="js/hotel.js"></script>
</head>
<body ng-controller="HotelCtrl">

<div class="container-fluid middle-font">
    <div  ng-repeat="order in orders " class="row line-separator">
        <div class="col-md-4">
       订单信息：{{order.location}}, {{order.price}}, {{order.star}},
            {{order.type}}, 是否超時{{order.bidTimeout}}
            </div>
        <div class="col-md-6">用户信息：{{order.userName}}, {{order.userBidTimes}}
            , {{order.Gender}}, {{order.userBidReturnTimes}}
            消费潜力；消费次数
        </div>

        <div class="col-md-2">
        <button type="button" class="btn btn-info " ng-click="getOrder(order)">抢单
        </button>
        <input type="text" class="form-control" placeholder="加价金额..." ng-model="tooltip.message">
                     <span class="input-group-btn">
                    <button type="submit" class="btn btn-info " ng-click=send()>加价
                        </button>
                         </span>
            </div>

        </div>
    </div>
</div>
</body>
</html>