<!DOCTYPE html>
<html ng-app="Student">
<head>
    <meta charset="utf-8">
    <title>Simple Student List</title>
    <!--link rel="stylesheet" href="css/app.css"-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="lib/angular.js"></script>
    <script src="lib/jquery-1.11.0.js"></script>
    <script src="js/data-load.js"></script>
    <script src="js/modules.js"></script>
    <script src="js/student-list.js"></script>
</head>
<body>
    <div name="StudentList" ng-controller="StudentListController">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><td>姓名</td><td>年龄</td><td>性别</td></tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students">
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.gendor}}</td>
            </tbody>
        </table>
        <div>共{{students.length}}名学生</div>
        <br/>
        <div>
            <input type="text" placeholder="姓名" ng-model="newName"/>
            <input type="text" placeholder="年龄" ng-model="newAge"/>
            <input type="text" placeholder="性别" ng-model="newGender"/>
            <button type="button" class="btn btn-primary" ng-click="addStudent()">增加</button>
        </div>
    </div>
</body>
</html>